/* Custom chart styling */
.jOrgChart {
  margin                : 10px;
  padding               : 20px;
}

.jorgchart .right {
	border-left			: 1px solid #38D;
}

.jorgchart .left {
	border-right		: 1px solid #38D;
}

.jorgchart .top {
	border-top			: 2px solid #38D;
}

.jorgchart .down {
	background-color	: #38D;
}

.jorgchart .line {
	width				: 2px;
}

/* Custom node styling */
.jOrgChart .node {
	font-size 			: 14px;
	background-color 	: #d0e9f0;
	border				: 2px solid #B5D9EA;
	padding				: 1em;
	margin-left			: 0.5em;
	margin-right		: 0.5em;
	color 				: black;/*#F38630;*/
	width 				: auto;
	border-radius 		: 8px;
	-moz-border-radius 	: 8px;
	-webkit-box-shadow	: rgba(0, 0, 0, 0.5) 3px 3px 3px;
}
	.node:hover {
		border			: 2px solid #E3CA4B;
		background-color: #fdf5ac;
	}
	.node p{
		font-family 	: tahoma;
		font-size 		: 10px;
		line-height 	: 11px;
		padding 		: 2px;
	}
	.node .typeName {
		font-variant	: small-caps;
		font-size		: 1.1em;
		text-decoration	: none;
		font-weight		: bold;
		margin-bottom	: 0;
	}
	.node .objName {
		font-style		: italic;
	}
